<aside class="w-64 h-screen bg-gray-800 text-white fixed">
  <div class="p-4 text-xl font-bold">Library</div>
  <nav class="mt-4">
    <ul>
      <li class="px-4 py-2 hover:bg-gray-700"><a routerLink="/">Home</a></li>
      <li class="px-4 py-2 hover:bg-gray-700"><a routerLink="/persons">Persons</a></li>
      <li class="px-4 py-2 hover:bg-gray-700"><a routerLink="/loans">Loans</a></li>
      <li class="px-4 py-2 hover:bg-gray-700"><a routerLink="/books">Books</a></li>
    </ul>
  </nav>
</aside>
